# Core application
fastapi==0.112.0
uvicorn[standard]==0.30.6
pydantic==2.8.2
pydantic-settings==2.4.0
python-dotenv

# Database
SQLAlchemy==2.0.32
asyncpg==0.29.0  # Primary async driver for FastAPI
alembic==1.13.2
psycopg[binary] # Sync driver for Alembic migrations

# Security
python-jose[cryptography]==3.3.0
passlib[bcrypt]==1.7.4

# Reporting & Templates
reportlab==4.2.2
Jinja2==3.1.4

# Testing
pytest
httpx